= render "layouts/instructor_nav"
%h2 Instructor
- if current_instructor
  %h2= current_instructor.name
  %h3 Courses
  - @instructor_courses.each do |course|
    = link_to course.title, course_path(course)
  = link_to 'create a new course', new_course_path
