= render "layouts/student_nav"
.row
  .small-12.columns
  - if current_student
    %h3= current_student.name
    %h4 Courses
    %ul
    - @student_enrollments.each do |enrollment|
      %li= link_to enrollment.course.title, course_path(enrollment.course)
    = link_to 'add a course', courses_path