= render "layouts/flash"
.row
  .small-12.columns
    %h2= Date.today.strftime('%a %d %b %Y')
.row
  .small-12.columns
    %h1.code= @code

:javascript
  setTimeout('delayedRedirect()', 30000);

  function delayedRedirect(){
    window.location.href = document.referrer;
  }