= render "layouts/instructor_nav"
= render "layouts/flash"
.row
  .small-12.columns
    %h2= @meeting.created_at
    %h3 Students
    - @meeting_attendances.each do |attendance|
      = attendance.student.name